# --- 1. O "Lixo" de Compilação (Obrigatório ignorar) ---
target/
build/
out/
bin/
*.class
*.log

# --- 2. Ficheiros de Sistema e Temporários ---
.DS_Store
Thumbs.db
*.tmp
*.bak
*.swp

# --- 3. Configurações de IDE (Pessoais) ---
# IntelliJ
.idea/
*.iws
*.iml
*.ipr
/httpRequests/

# VS Code
.vscode/

# Eclipse / STS
.settings/
.classpath
.project
.factorypath
.springBeans
.sts4-cache

# --- 4. Pacotes e Dependências ---
# Ignorar todos os ficheiros binários finais
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# --- 5. EXCEÇÃO IMPORTANTE (Maven Wrapper) ---
# Queremos ignorar todos os JARs (regra acima),
# MAS precisamos deste específico para o mvnw funcionar noutros PCs.
!maven-wrapper.jar
!**/wrapper/maven-wrapper.jar

# --- 6. Spring Boot ---
HELP.md